.flipswitch {
  position: relative;
  width: 131px;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 10px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 19px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.flipswitch-inner:before {
  content: "Слайдер";
  padding-left: 15px;
  background-color: #0DCAF0;
  color: #FFFFFF;
}
.flipswitch-inner:after {
  content: "Список";
  padding-right: 15px;
  background-color: #6C757D;
  color: #B7BFC5;
  text-align: right;
}
.flipswitch-switch {
  width: 23px;
  margin: 3.5px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100px;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}
