@charset "UTF-8";
.ripple {
  position: relative;
  overflow: hidden; }
  .ripple:before {
    content: '';
    position: absolute;
    display: block;
    background: var(--ripple-background, #606f7b);
    border-radius: 50%;
    pointer-events: none;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    width: calc(var(--d) * 1px);
    height: calc(var(--d) * 1px);
    opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
    transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
    transform: translate(-50%, -50%) scale(var(--s, 1));
    transform-origin: center; }

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  padding: 0;
  overflow: hidden; }

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start; }

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider {
  min-width: 0;
  text-align: center;
  position: relative; }

.slider .slick-arrow {
  width: 50px;
  height: 60px;
  background: #f8f9fa;
  border: 1px solid #ffc107;
  cursor: pointer;
  font-size: 48px;
  color: #ffc107;
  font-family: 'Alegreya Sans', serif;
  position: absolute;
  top: 50%;
  z-index: 5; }

.slider .slick-arrow.slick-prev {
  line-height: 60px;
  left: -10px;
  transform: translate(-100%, -65%); }

.slider .slick-arrow.slick-next {
  line-height: 60px;
  right: -10px;
  transform: translate(100%, -65%); }

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center; }

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px; }

.slider .slick-dots button {
  width: 15px;
  height: 15px;
  font-size: 0;
  background: #6c757d;
  border: none;
  opacity: 0.4;
  border-radius: 50%;
  z-index: 10; }

.slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #0dcaf0; }

.slider__item {
  width: 100%;
  height: 75vh;
  background: #fff;
  border: 3px solid #f8f9fa;
  border-radius: 5px;
  overflow: hidden;
  padding: 3vh; }

.slider .inner__slider {
  width: 100%;
  height: 100%; }

* {
  box-sizing: border-box; }

body {
  background: #fff;
  font-family: 'Alegreya Sans', serif;
  font-weight: 400;
  color: #212529; }

h1 {
  font-weight: 400;
  font-size: 2em;
  color: #ffc107; }

h2 {
  font-weight: 400;
  font-size: 2em;
  color: #0dcaf0;
  text-transform: uppercase; }

a {
  font-weight: 500;
  color: #0dcaf0;
  text-decoration: none; }
  a:hover, a:focus {
    color: #ffc107; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

p {
  margin-top: 0; }

video {
  width: 100%; }

.container {
  width: 100vw;
  height: auto;
  position: relative;
  margin: 0 auto; }

.header {
  width: 100%;
  height: 5vh;
  position: fixed;
  padding: 2vh;
  margin: 0 auto;
  z-index: 4; }

.switch {
  width: 25vw;
  height: 4vh;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 auto; }
  .switch__btn {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    color: #212529;
    font-size: 24px; }
    .switch__btn--right {
      border-left: 1px dotted #b7bfc5; }
    .switch__btn--active {
      color: #0dcaf0;
      font-weight: 500; }

.main-slider {
  width: 100%;
  height: 100vh;
  padding: 0 15px;
  background: #fff;
  margin: 0 auto; }

.wrapper {
  max-width: 88vw;
  height: 90vh;
  padding: 0 70px;
  margin: 10vh auto 0; }

.portfolio {
  font-size: 24px;
  font-weight: 400; }
  .portfolio__title {
    width: 100%;
    text-align: center;
    margin: 0.3em; }
  .portfolio__grid {
    display: flex;
    align-items: flex-start; }
  .portfolio__video, .portfolio__content {
    width: calc(50% - 1px);
    text-align: justify;
    padding: 1em; }
  .portfolio__video {
    margin-bottom: 1em; }
  .portfolio__content {
    border-left: 2px dotted #b7bfc5; }

.main-list {
  width: 100%;
  height: 100vh;
  background: #fff;
  padding: 0 15px;
  margin: 0 auto; }

.screen {
  opacity: 0;
  transition: opacity 1500ms;
  position: absolute;
  left: 0; }

.screen--active {
  opacity: 1;
  z-index: 2; }
